$o: 'link';

.#{$o} {
    position: relative;
    display: inline-block;

    &--underline {
        padding-bottom: 5px;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;

            display: block;
            width: 0;
            height: 2px;

            background-color: get-gray-color('dark');

            transition: width .3s ease-in-out;
        }

        @media (min-width: $breakpoint--md) {
            &:hover {
                &::after {
                    width: 100%;
                }
            }
        }
    }
}
